*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
html {
  --s: 140px; /* control the size */
  --c1: #AB3E5B;
  --c2: #FFBE40;
  
  --_g: 
    #0000 25%,#0008 47%,var(--c1)  53% 147%,var(--c2) 153% 247%,
    var(--c1) 253% 347%,var(--c2) 353% 447%,var(--c1) 453% 547%,#0008 553%,#0000 575%;
  --_s: calc(25%/3) calc(25%/4) at 50%; 
  background:
    radial-gradient(var(--_s) 100%,var(--_g)),
    radial-gradient(var(--_s) 100%,var(--_g)) calc(var(--s)/2) calc(3*var(--s)/4),
    radial-gradient(var(--_s) 0   ,var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(var(--_s) 0   ,var(--_g)) 0                calc(3*var(--s)/4),
    repeating-linear-gradient(90deg,#ACCEC0 calc(25%/-6) calc(25%/6),#61A6AB 0 calc(25%/2));
  background-size: var(--s) calc(3*var(--s)/2);
  animation: m 2.5s infinite linear;
} 

@keyframes m {
  to {
    background-position:
      var(--s) 0,
      calc(var(--s)/-2) calc(3*var(--s)/4),
      calc(3*var(--s)/2) 0,
      calc(-1*var(--s)) calc(3*var(--s)/4),
      0 0
  }
}

#background{
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), #960014), url(image.jpg);*/
  background-size: cover;
  background-position: center;
  /*height: 100vh;*/
}
.background-text{
  text-align: center;
  color: #fff;
  padding-top: 180px;
}
.background-text h1{
  font-size: 120px;
  font-family: 'Kanit', sans-serif;
  color: rgb(105,155,190);
  position: relative;
}
.background-text p{
  font-size: 20px;
  font-style: italic;
  position: relative;
  font-weight: bold;
  color: rgb(105,155,190);
  /*webkit-text-stroke: 0.5px black;*/
}
.background-text h1 span{
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 22vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
  border-radius: 55px;
}
.background-text p span{
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 80vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
  border-radius: 55px;
}

#text{
  width: 100%;
  /*--background-color: #efefef;--*/
  background: #ffff;
  background-size: cover;
  background-position: center;
  height: 130vh;
  margin-top: 20%;
  padding: 70px 0;
}
.title-text{
  text-align: center;
  padding-bottom: 70px;
}
.title-text p{
  margin: auto;
  font-size: 20 px;
  color: #699BBE;
  font-weight: bold;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.title-text p::after{
  content:'';
  width: 50px;
  height: 35px;
  background: linear-gradient(#699BBE, #fff);
  position: absolute;
  top: -15px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.title-text h1{
  font-size: 50px;
}

.service-box{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service{
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img{
  width: 100%;
  border-radius: 7px;
}
.overlay{
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #699BBE);
  opacity: 0;
  transition: 0.5s;
}
.single-service:hover .overlay{
  opacity: 0.75;
}
.service-desc{
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.5s;
}
hr{
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.service-desc p{
  font-size: 14px;
}
.single-service:hover .service-desc{
  bottom: 35%;
  opacity: 1;
}


#footer{
  padding: 100px 0 20px;
  background: #efefef;
  position: relative;
}
.footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-left, .footer-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}
.footer-right{
  text-align: right;
}
.footer-row h1{
  margin: 10px 0; 
}
.footer-row p{
  line-height: 35px;
}
.footer-left .fa, .footer-right .fa{
  font-size: 20px;
  color: #699BBE;
  margin: 10px;
}
.footer-img{
  width: 150px;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.social-links{
  text-align: center;
}
.social-links .fa{
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #699BBE;
  margin: 40px 5px 0;
  color: #699BBE;
  cursor: pointer;
  transition: 0.5s;
}
.social-links .fa:hover{
  background: #699BBE;
  color: #fff;
  transform: translateY(-7px);
}
.social-links p{
  font-size: 12px;
  margin-top: 20px;
}